#welcome {
    text-align: center;
    padding: 45px 0;
}


.homeContainer {
    /* background-image: url("../../assets/baby-Shark.jpg"); */
    background-color: deepskyblue;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
}
