.backImg {
    /* background-image: url("../../assets/baby-Shark.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: deepskyblue;
    padding: 20px 0;
}

.profileContainer {
    margin-bottom: 200px;
}


#profile {
    text-align: left;
    margin: 50px 0 30px 250px;
}